<div id="content-button"class="col-md-12" data-no-turbolink>
	<a href="<%= scraping_path %>">
		<button type="button" class="btn btn-warning btn-runscript">Run Scraping (beta)</button>
	</a>
	<a href="#">
		<button type="button" class="btn btn-info btn-runscript">Refresh Page</button>
	</a>
</div>

<div class="container">
	<div class="row center-all">

		<div class="col-md-3">
			<hr>
			<img src="/companyLogo/trabajosrails.png" width="150" alt="Logo trabajosrails" class="img-thumbnail">
      		<h3>trabajosrails</h3>
      		<hr>
		</div>

		<div class="col-md-3">
			<hr>
			<img src="/companyLogo/betabeers.png" width="150" alt="Logo betabeers" class="img-thumbnail">
      		<h3>betabeers</h3>
      		<hr>
		</div>

		<div class="col-md-3">
			<hr>
			<img src="/companyLogo/domestika.jpg" width="150" alt="Logo domestika" class="img-thumbnail">
      		<h3>domestika</h3>
      		<hr>
		</div>

		<div class="col-md-3">
			<hr>
			<img src="/companyLogo/jobandtalent.png" width="150" alt="Logo jobsandtalent" class="img-thumbnail">
      		<h3>jobandtalent</h3>
      		<hr>
		</div>
		
	</div>
</div>