<!-- Barra de Navegación -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
    	<buttom type="buttom"></buttom>
    	<a href="#" class="navbar-brand"><strong>MYLOGO.COM</strong></a>
    </div>
    <div class="navbar-collapse collapese">
    	<ul class="nav navbar-nav navbar-right">
    		<li><a href="#"> Link </a></li>
    		<li><a href="#"> Link </a></li>
    		<li><a href="#"> Link </a></li>
    		<li><a href="#"> Link </a></li>
    	</ul>
    </div>	
  </div>
</nav>
<!-- Fin de Barra de Navegación -->


<header>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-sm-offset-1">
            <h1>Lorem ipsum dolor sit amet</h1>
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" id="suscribir" placeholder="Introduzca su email">
                    <buttom class="btn btn-info btn-lg">Suscribirme</buttom>
                </div>
            </form>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row centrado">
        <div class="col-lg-6 col-lg-offset-3">
            <h1>Proin vitae ante eget sapien tristique ultrices</h1>
            <h3>Nulla facilisi. Ut fermentum sapien non dui pellentesque varius. Nulla tincidunt libero elit, vel efficitur nibh pharetra at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</h3>
        </div>
    </div>
</div>

<hr class="container"></hr>

<div class="container">
    <div class="row centrado">
        <div class="col-md-4 col-sm-4">
            <img class="img-circle" width="140px" src="---" alt="---">
            <h4>Proin vitae ante eget sapien tristique ultrices</h4>
            <p>Nulla facilisi. Ut fermentum sapien non dui pellentesque varius. Nulla tincidunt libero elit, vel efficitur nibh pharetra at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        </div>
        <div class="col-md-4 col-sm-4">
            <img class="img-circle" width="140px" src="---" alt="---">
            <h4>Proin vitae ante eget sapien tristique ultrices</h4>
            <p>Nulla facilisi. Ut fermentum sapien non dui pellentesque varius. Nulla tincidunt libero elit, vel efficitur nibh pharetra at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        </div>
        <div class="col-md-4 col-sm-4">
            <img class="img-circle" width="140px" src="---" alt="---">
            <h4>Proin vitae ante eget sapien tristique ultrices</h4>
            <p>Nulla facilisi. Ut fermentum sapien non dui pellentesque varius. Nulla tincidunt libero elit, vel efficitur nibh pharetra at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        </div>
    </div>
</div>

<hr class="container"></hr>