@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300italic,400);

body{
	background-color: #F2F2F2;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #555555;
}

h1,h2,h3,h4,h5,h6{
	font-weight: 300;
}

h1{
	font-size: 36px;
	font-weight: bold;
}

h4{
	font-weight: bold;
}

p{
	line-height: 30px;
	margin-bottom: 25px;
}

a, a:link, a:hover, a:visited{
	color: #555555;
}

hr{
	display: block;
	height: 1px;
	border: 0px;
	border-top: 1px solid #CCC;
	margin: 1em 0;
	padding: 0;
}

.navbar-default{
	background-color: rgba(0,0,0,1);
	border-color: transparent;
	border-bottom: 0.1em solid rgba(255, 0, 0, 0.6);

	.navbar-brand, .navbar-nav li a{
		color: white;
	}

	.navbar-nav li a:hover{
		color: rgba(255, 0, 0, 0.6);
	}
}

header{
	background: url(/home/background.jpg) no-repeat center;
	background-size: cover;
	width: 100%;
	min-height: 640px;
	
	margin-top: -73px;
	h1{
		color: white;
		margin-bottom: 15px;
		letter-spacing: 1px;
		margin-top: 12%;

		small{
			font-style: italic;
		}
	}

	.btn-danger, .btn-danger:hover{
		width: 200px;
		border-color: floralwhite;
		border-radius: 5px;

	}
}

.centrado{
	margin: 40px 0;
	width: 100%;
	text-align: center;
}

.div-footer{
	border-top: 0.1em solid rgba(255, 0, 0, 0.6);
	background-color: rgba(0,0,0,0.9);
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
}

@media screen and (max-width: 568px){
	header h1{
		margin-top: 25%;
		font-size: 22px;
	}

	.title{
		font-size: 24px;
	}

	.quees-info{
		font-size: 16px;
	}
}