div#content-button{
	background: rgba(0,0,0,0.9);
	text-align: center;
	.btn-runscript{
		margin-top: 1%;
		margin-bottom: 1%;
		border: 1px solid white;
	}	
}

a, a:link, a:hover, a:visited{
	text-decoration: none;
}
