div#content-button{
	background: rgba(0,0,0,0.9);
	text-align: center;
	.btn-runscript{
		margin-top: 1%;
		margin-bottom: 1%;
		border: 1px solid white;
		width: 150px;
	}	
}

a, a:link, a:hover, a:visited{
	text-decoration: none;
}

.div-company{
	margin-top: 1%;
}

.div-company:hover{
	background-color: rgba(205, 227, 205, 0.5);
}

.center-all{
	margin: 0 auto;
	text-align: center;
}

.table-jobs{

	margin-top: 2%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.2);
	margin-left: auto;
    margin-right: auto;
}

.thead-jobs{
	background-color: rgba(0, 0, 0, 0.1);
	border: 3px solid black;
	border-color: rgba(0, 0, 0, 0.2);
}

.row-jobs{
	cursor: pointer;
}
.td-date-job{
	font-style: italic;
	font-size: 15px;
}

.td-title-job{
	font-weight: bold;
}

.head-job-title{
	font-weight: bold;
	margin-top: 2%;
	border: 1px solid black;
	background-color: rgba(0, 0, 0, 0.1);
}

.head-job-body{
	padding-top: 2%;
	margin-bottom: 2%;
	border: 1px solid black;
	border-top: none;
}

.body-job-description{
	margin-right: 2%;
	margin-left: 2%;
}
