<!DOCTYPE html>
<html>
<head>
  <title>Jobs on Rails</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="author" content="Manuel Abalos" />
  <meta name="description" content="Jobs on Rails" />
  <meta name="keywords" content="job, jobs, ruby, rails, ruby on rails, developer, full-stack, fullstack, front-end, back-end, ror, linkedin, trabajosrails, domestika, betabeers, infojobs, meetup, meetups" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>

<%= yield %>

  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
</body>
</html>
